/* --- Universal styles --- */ 

root {
  font-size: 16px;
}


html {
  height: 100%;
}



.Default-Styling {
  background: -webkit-linear-gradient(white, white 0%, black 0%, #121212, black  calc(var(--default-height)*var(--top-proportion-of-height-2)), white  calc(var(--default-height)*var(--top-proportion-of-height-2)), white);
  margin: 1;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: whitesmoke;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --default-height: 97vh;
  --default-width: 90vw;
  --top-proportion-of-height: .66;
  --bottom-proportion-of-height: .29;

  --top-proportion-of-height-2: .69;

}








.Overall-Grid-Parent{
  display: grid;
  grid-template-rows: calc(var(--default-height)*var(--top-proportion-of-height)) calc(var(--default-height)*var(--bottom-proportion-of-height));
  align-content: start;
}

.Overall-Grid-Child{
}

.Mobile-View{
  display: none;
}

/* ----- Top Section, for Main ----- */ 

.Main-Text-Emph{
  font-style: bold;
}



.Main-Text-Deemph{
  color:#A3A3A3;

}

.Line1{
  margin-left: 6.25rem;
}

.Line2{
  margin-left: 12.5rem;

}

.Line3{
  margin-left: 18.75rem;

}


.InlineL{
  display: inline;
  position: fixed;
  margin-left: -.5625rem;
  padding-top: 1.0625rem;
}


/* ...Nontext styles */ 


.Main-Email-Button{
  
}


.Main-Grid-Parent{
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  height: calc(var(--default-height)*var(--top-proportion-of-height));
  gap: .3125rem;
  outline: .1875rem solid rgba(255,255,255,.2);
  outline-offset: -.35rem;
  font-size:2.5rem;
}




.Main-Flex-Parent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-basis: 100%;
}

.Main-Flex-Child{
  flex-grow: 1;
}



/* ----- Top Section, for About  ----- */ 
.About-Text{
  margin: 1.25rem 1.25rem 1.25rem 2.25rem;
  
  max-width: 39rem;
}

p{
  line-height: 2rem;
}

.Large-View{
  line-height: 2rem;
}




/* ...Nontext styles */ 

.About-Photo{
  
}


.About-Grid-Parent{
  
  display: grid;
  align-content: center;
  height: calc(var(--default-height)*var(--top-proportion-of-height));
  gap: .125rem;
  outline: .1875rem solid rgba(255,255,255,.2);
  outline-offset: -.75rem;
  font-size:1.125rem;
}


.About-Flex-Parent{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}



/* ----- Lower Half, mainly Navbar ----- */ 

/* ----- Navbar ----- */ 


.Nav-Selected{
  color: gold;
  text-decoration: underline;
}


.Nav-Unselected{
  color: #6A6A6A;
}

.asText {
  background:none;
  border:none;
  cursor: pointer;   
  padding: 3rem 0rem 0rem 0rem;     
  margin: -3rem 0rem 0rem 0rem; 
}


.Nav-Unselected > a {     
  display: inline-block;     
  padding: 3rem 0rem 0rem 0rem;     
  margin: -3rem 0rem 0rem 0rem; 
}

/* ...Nontext styles */ 


.Nav-Background{
}


.Nav-Icon{
  
}




.Nav-Light-Icon{
  
}




.Nav-Grid-Parent{
  
  display: grid;
  height: calc(var(--default-height)*var(--bottom-proportion-of-height));
  gap: 1rem 2rem;
  padding-right:1.5rem;
  padding-top: 1rem;
  justify-content: end;
  align-items: end;


}

.Nav-Flex-Parent{
  
  display: flex;
  flex-direction: row;
  flex-flow: wrap-reverse;
}



.Spacer {
  margin: 0px -.625rem 0px 0px;
}



/* SVG */ 



.svg-icon {
  display: flex; 
  justify-content: center; 
  width: 2.1rem;
  height: 2rem;
  color: #6e6e6e;
}

.svg-icon-marginNorm{
  margin: 0% 0% 15% 0%;

}

.svg-icon-marginResume{
  margin: 0% 0% 5% 15%;
  
}

.svg-icon-marginGithub{
  margin: 0% 0% 15% 0%;
  
}

.svg-iconEmailButton {
  display: inline-block;
  position: relative;
  top: 0rem;
  float:center;
  color: lightskyblue;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0rem 0rem 0rem 0rem;
}

.Line3 > a{
  position: absolute;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill:currentColor;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}

/* Responsive Adjustments */ 



@media (min-width:950px){
  .About-Grid-Parent{
  justify-content: center;
  align-items: center;
}
}


@media (max-width:890px){
  .Line1{
    margin-left: 4.6875rem;
  }
  .Line2{
    margin-left: 9.375rem;
  }
  .Line3{
    margin-left: 14.0625rem;
  }
  .InlineL{
    max-width: 1.75rem;
    max-height: 1.75rem;
  }
  
.svg-iconEmailButton {
  top: -0.2rem;
}

  

  .About-Text{
  }

  .Main-Grid-Parent{
    font-size:2rem;
  }
}


@media (max-width:760px){
  .Line1{
    margin-left: 2.475rem;
  }
  .Line2{
    margin-left: 3.75rem;
  }
  .Line3{
    margin-left: 4.9875rem;
  }
  .InlineL{
    margin-top: -.3125rem;
    margin-left: -.4375rem;
    max-width: 1.1875rem;
    max-height: 1.1875rem;
  }
  .Main-Grid-Parent{
    font-size:1.4rem;
  }

  .svg-iconEmailButton {
    top: -0.8rem;
  }

  p{
    line-height: 1.75rem;
  }
  
.About-Grid-Parent{
  font-size:1rem;
}
}


/* The reason the margins below are almost the same but not quite, is because
if the margins are teh exact same, they really look like they're not lined up to me.
Feels like some sort of optical illusion- so I'm making them slightly off so that they feel right. */




@media (max-width:460px){

  .Line1{
    margin-left: 2.125rem;
  }
  .Line2{
    margin-left: 2.25rem;
  }
  .Line3{
    margin-left: 2.375rem;
  }
  .InlineL{
    max-width: 0.9375rem;
    max-height: 0.9375rem;
  }

  
  .Main-Grid-Parent{
    font-size:1.1rem;
    outline-offset: -.25rem;
  }
  .About-Grid-Parent{
    outline-offset: -.25rem;
  }

  .About-Text{
    margin: 0rem 2rem 1.25rem 1rem;
  }

  .Nav-Grid-Parent{
    padding-right:1rem;
    
  }
  
  .svg-iconEmailButton {
    top: -1rem;
  }

  .Default-Styling{
    font-size: 0.875rem;
  }

  .Large-View{
    display: none;
  }

  .Mobile-View{
    display: inline-block;
    line-height: 1.4rem;
  }

  p{
    line-height: 1.4rem;
  }

}
