/* --- Universal styles --- */ 

root {
  font-size: 16px;
}


html {
  height: 100%;
}



.Default-Styling {
  background: -webkit-linear-gradient(white, white 0%, black 0%, #121212, black  calc(var(--default-height)*var(--top-proportion-of-height-2)), white  calc(var(--default-height)*var(--top-proportion-of-height-2)), white);
  margin: 1;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: whitesmoke;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --default-height: 95vh;
  --default-width: 95vw;
  --top-proportion-of-height: .65;
  --bottom-proportion-of-height: .30;

  --top-proportion-of-height-2: .68;

}








.Overall-Grid-Parent{
  display: grid;
  height: var(--default-height);
  width: var(--default-width);
  grid-template-rows: calc(var(--default-height)*var(--top-proportion-of-height)) calc(var(--default-height)*var(--bottom-proportion-of-height));
  align-content: start;
}

.Overall-Grid-Child{
  justify-self: end;
}

/* ----- Top Section, for Main ----- */ 

.Main-Text-Emph{
  font-style: bold;
}



.Main-Text-Deemph{
  color:#A3A3A3;

}

.Line1{
  margin-left: 6.25rem;
}

.Line2{
  margin-left: 12.5rem;

}

.Line3{
  margin-left: 18.75rem;

}


.InlineL{
  display: inline;
  position: fixed;
  margin-left: -.5625rem;
  padding-top: 1.0625rem;
}


/* ...Nontext styles */ 


.Main-Email-Button{
  
}


.Main-Grid-Parent{
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  height: calc(var(--default-height)*var(--top-proportion-of-height));
  width: var(--default-width);
  gap: .3125rem;
  outline: .1875rem solid rgba(255,255,255,.2);
  outline-offset: -.75rem;
  font-size:2.5rem;
}




.Main-Flex-Parent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-basis: 100%;
}

.Main-Flex-Child{
  flex-grow: 1;
}



/* ----- Top Section, for Bio  ----- */ 
.Bio-Text{
}



/* ...Nontext styles */ 

.Bio-Photo{
  
}


.Bio-Grid-Parent{
  
}


.Bio-Flex-Parent{
  
}

/* ----- Navbar ----- */ 

.Nav-Background{
  color: #6A6A6A;
}


.Nav-Selected{
  color: gold;
  text-decoration: underline;
  margin-right: 2.1875rem;
}


.Nav-Unselected{
  margin-right: 2.1875rem;
}


/* ...Nontext styles */ 


.Nav-Icon{
  
}




.Nav-Light-Icon{
  
}




.Nav-Grid-Parent{
  
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(6.25rem, 1fr));
  height: calc(var(--default-height)*var(--bottom-proportion-of-height));
  width: var(--default-width);
  grid-column-gap: .375rem;

  
  margin: .625rem 0px 0px 0px;
}


.Nav-Flex-Parent{
  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}



.Spacer {
  margin: 0px -.625rem 0px 0px;
}



/* SVG */ 



.svg-icon {
  display: flex; 
  justify-content: center; 
  width: 2.1rem;
  height: 2rem;
  color: #6e6e6e;
}

.svg-icon-marginNorm{
  margin: 0% 0% 25% 0%;

}

.svg-icon-marginResume{
  margin: 0% 0% 5% 15%;
  
}

.svg-icon-marginGithub{
  margin: 0% 0% 15% 0%;
  
}

.svg-iconEmailButton {
  display: inline-block;
  vertical-align: middle;
  color: lightskyblue;
}


.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill:currentColor;
}

.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}

/* Responsive Adjustments */ 


@media (max-width:890px){
  .Line1{
    margin-left: 4.6875rem;
  }
  .Line2{
    margin-left: 9.375rem;
  }
  .Line3{
    margin-left: 14.0625rem;
  }
  .InlineL{
    max-width: 1.75rem;
    max-height: 1.75rem;
  }
  .Main-Grid-Parent{
    font-size:2rem;
  }
}


@media (max-width:760px){
  .Line1{
    margin-left: 2.475rem;
  }
  .Line2{
    margin-left: 3.75rem;
  }
  .Line3{
    margin-left: 4.9875rem;
  }
  .InlineL{
    margin-top: -.3125rem;
    margin-left: -.4375rem;
    max-width: 1.1875rem;
    max-height: 1.1875rem;
  }
  .Main-Grid-Parent{
    font-size:1.4rem;
  }
}


/* The intent below is for the margins to be the same- but they are slightly off because
if the margins are the exact same, they look like they're not lined up to me. 
I'm not sure why this is- an optical illusion? */ 


@media (max-width:460px){
  .Line1{
    margin-left: 3.125rem;
  }
  .Line2{
    margin-left: 3.25rem;
  }
  .Line3{
    margin-left: 3.375rem;
  }
  .InlineL{
    max-width: 0.9375rem;
    max-height: 0.9375rem;
  }
  .Main-Grid-Parent{
    font-size:1.1rem;
  }

  
.Nav-Grid-Parent{
}


.Nav-Flex-Parent{
}


}



/* -----  ----- */ 


/* -----  ----- */ 


/* ...Nontext styles */ 


/* ...Grid styles */ 


/* ...Flexbox styles */ 

/* -----  ----- */ 