/* --- Universal styles --- */ 

.Default-Styling {
  background-color: #282c34;
  margin: 1;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: whitesmoke;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --default-height: 95vh;
  --default-width: 95vw;
  --top-proportion-of-height: .70;
  --bottom-proportion-of-height: .30;

}



.Overall-Grid-Parent{
  display: grid;
  height: var(--default-height);
  width: var(--default-width);
  grid-template-rows: calc(var(--default-height)*var(--top-proportion-of-height)) calc(var(--default-height)*var(--bottom-proportion-of-height));
  align-content: start;
}

.Overall-Grid-Child{
  justify-self: end;
}

/* ----- Top Section, for Main ----- */ 

.Main-Text-Emph{
  font-style: bold;
}


.Main-Text-Deemph{
  color: gray;

}

/* ...Nontext styles */ 


.Main-Email-Button{
  
}


.Main-Grid-Parent{
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  height: calc(var(--default-height)*var(--top-proportion-of-height));
  width: var(--default-width);
  gap: 5px;
  margin: 0px 0px 0px 0px;
}



.Main-Flex-Parent{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-basis: 100%;
}

.Main-Flex-Child{
  flex-grow: 1;
}



/* ----- Top Section, for Bio  ----- */ 
.Bio-Text{
  font-size: 14px;
}



/* ...Nontext styles */ 

.Bio-Photo{
  
}


.Bio-Grid-Parent{
  
}


.Bio-Flex-Parent{
  
}

/* ----- Navbar ----- */ 

.Nav-Background{
  background-color: white;
  color: black;
}


.Nav-Selected{
  color: gold;
  text-decoration: underline;
  font-size: 14px;
}


.Nav-Unselected{
  color: black;
  font-size: 14px;
}


/* ...Nontext styles */ 


.Nav-Icon{
  
}




.Nav-Light-Icon{
  
}




.Nav-Grid-Parent{
  
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  height: calc(var(--default-height)*var(--bottom-proportion-of-height));
  width: var(--default-width);
  gap: 6px;
  
}


.Nav-Flex-Parent{
  
  display: flex;
  align-items: flex-end;
  gap: 40px;
  flex-grow: 1;
}

/* -----  ----- */ 


/* -----  ----- */ 


/* -----  ----- */ 


/* ...Nontext styles */ 


/* ...Grid styles */ 


/* ...Flexbox styles */ 

/* -----  ----- */ 